[submodule "dev_ws/src/rmc_camera"]
	path = dev_ws/src/rmc_camera
	url = https://github.com/CSULB-RMC/roscode-camera.git
[submodule "dev_ws/src/rmc_teleop"]
	path = dev_ws/src/rmc_teleop
	url = https://github.com/CSULB-RMC/roscode-teleop.git
	branch = main
[submodule "dev_ws/src/rmc_arduino"]
	path = dev_ws/src/rmc_arduino
	url = https://github.com/CSULB-RMC/roscode-arduino.git
[submodule "dev_ws/src/rmc_positiontracking"]
	path = dev_ws/src/rmc_positiontracking
	url = https://github.com/CSULB-RMC/roscode-position-tracking.git
[submodule "dev_ws/src/rmc_cameramsg"]
	path = dev_ws/src/rmc_cameramsg
	url = https://github.com/CSULB-RMC/roscode-cameramsg
[submodule "dev_ws/src/rmc_autonomy"]
	path = dev_ws/src/rmc_autonomy
	url = https://github.com/CSULB-RMC/roscode-autonomy
